{% extends '_templates/base.njk' %}

{% set relative_path = "../" %}

{% block page_title %}{{ Name }}{% endblock %}

{% block page_description %}{{ Name }} , {{ Address }}{% endblock %}

{% block content %}
  <article class="container">
    <div class="row">
      <div class="col-sm-4">
          <img src="../img/{{ image }}" alt="Photo of Food" class="img-fluid mb-4">
      </div>
      <div class="col-sm-8">
          <h1>{{ Name }}</h1>
          <p>{{ Address }}</p>
          <h3>Favorites:</h3>
          <p> {{ favorites }} </p>
          <p> {{ description }} </p>
      </div>
    </div>
  </article>
{% endblock %}
