{% extends '_templates/base.njk' %}

{% block page_title %}Foodie Favorites{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
<div class="container">
  <h1>Foodie Favorites</h1>
  <h4>Your guide to the best local eats in Houston, Austin, and New York City</h4>
  <h2>Recommended</h2>
  <div class="row">
    {% for restaurant in recommended.Recommended %}
      <div class="col">
        <img src="img/{{ restaurant.slug }}.jpg" width=300 height=200 alt="" class="img-fluid">
        <h3><a href="restaurants/{{ restaurant.slug }}.html">{{ restaurant.Name }}</a></h3>
      </div>
    {% endfor %}
  </div>
  <hr>
  {% for restaurant in restaurants.Restaurants %}
    <h3><a href="{{ restaurant.url }}" target="_blank">{{ restaurant.Name }}</a></h3>
    <p>{{ restaurant.Address }}, {{ restaurant.City }}, {{ restaurant.State }} {{ restaurant.Zip }}</p>
    <hr>
  {% endfor %}
</div>
{% endblock %}